@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

/* scroll-bar settings */

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--pink);
}

/* end scroll-bar setting */

:root{
    --transition: all .2s linear;
    --pink : #e84393;
    --black : #222;
    --white : #fff;
    --light-bg : #f5f5f5;
    --light-color : #777;
    --border : .2rem solid $black;
    --box-shadow : 0 .5rem 1rem rgba(0,0,0,.1);
}

/* repititive settings */ 

.main-h{
    text-align: center;
    padding-top: 1rem;
    text-transform: capitalize;
}
.main-p{
    text-align: center;
    font-size: 1rem;
    max-width: 30rem;
    margin: 0 auto 2rem;
    padding: 1rem 0;
    color: var(--light-color);
}

/* price tag setting */

.products-main{
    color: var(--black);
    font-weight: 400;
    margin: 0.5rem 0;

}

.price{
    color: var(--pink);
    margin: 1rem;
    display: block;
}

.price s{
    color: var(--black);
    font-size: 0.8rem;
    text-decoration: line-through;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    font-size: 18px;
}

header{
    box-shadow: var(--box-shadow);
    -webkit-box-shadow:var(--box-shadow);
}

.padding-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container{
    width: 80%;
    margin: 0 auto;

}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header-content .main-logo img{
    height: 2.5rem;
}

.header-content .searchbox {
    background-color: var(--light-bg);
    width: 50%;
    padding: 10px;
    
}

.header-content .searchbox form{
    display: flex;
    justify-content: space-between;
}

.header-content .searchbox input{
    background: none;
    color: var(--light-color);
    font-size: 0.9rem;
    text-transform: none;
}

.header-content .searchbox i{
    cursor: pointer;
}

.header-content .links i{
    padding: 10px 10px;
    background-color: var(--light-bg);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.header-content .links i:hover{
    background-color: var(--pink);
    color: var(--white);
}
@media (max-width:767px){
    .header-content .searchbox {
        display: none;
    }
}

@media (min-width:767px) {
    .header-content .links .search-mag {
        display: none;
    }
}

/* main-body */


.main-body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: calc(100vh - 5rem);
    
}

.main-body .cos-img {
    background-image: url(./images/home-img-1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.main-body .cosmetics {
    background-color: #fce9f2;
    display: flex;
    align-items: center;
    position: relative;

    /* z-index: -1; */
}

.main-body .cosmetics .text{
    padding-left: 50px;
}

.main-body .cosmetics .text h3{
    color: var(--pink);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.main-body .cosmetics .text h1 {
    text-transform: uppercase;
    color: var(--black);
    font-size: 4rem;
    margin:10px 0;
}

.button{
    border: 1px solid var(--black);
    padding: 7px 20px;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    display: inline-block;
    transition: 400ms;
}

.button:hover{
    background-color: var(--pink);
    color: var(--white);
}

@media (max-width:767px){
    .main-body .cosmetics .text h3{
        font-size: 1rem;
    }
    .main-body .cosmetics .text h1{
        font-size: 2rem;
    }
    
}

/* arows */


.arrow{
    font-size: 35px;
    font-weight: 900;
    bottom: 2rem;
    background-color: var(--white);
    padding: 5px 20px ;
    box-shadow: var(--box-shadow);
    position: absolute;
    transition: 400ms;
}


.main-body .cosmetics .text .left {
    right: 0.5rem;
}
.main-body .cos-img .right {
    left: 0.5rem;
}

.arrow:hover{
    color: var(--white);
    background-color: var(--pink);
    cursor: pointer;
}

@media (max-width:767px){
    .main-body {
        grid-template-columns: 1fr;
        position: relative;

    }
    .main-body .cosmetics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);;
        z-index: 1;
        justify-content: center;
        text-align: center;

    }
    .main-body .cosmetics .text .img-background{
        background-image: url(./images/home-img-1.png);
        background-size: cover;
        background-position: center;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        display: block;
        margin-bottom: 25px;
    }

    .main-body .cosmetics .text .left{
        right: 50%;
        display: inline-block;
        margin-right: 20px;
        /* transform: translateX(-50%); */
    }
    .main-body .cos-img .right{
        left: 50%;
        display: inline-block;
        z-index: 2;
        margin-left: 20px;
        /* transform: translateX(-50%); */
    }
    .main-body .cosmetics .text{
        padding-left: 0;
    }
}

@media (min-width:767px){
    .main-body .cosmetics .text .img-background{
        display: none;
    }
}




/* category section */


.category .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 2rem;
}

.category .container .products{
    background-color: var(--light-bg);   
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    transition: 400ms;

    
}

.category .container .products img{
    width: 5rem;
    
}

.category .container .products h1{
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 0.5rem;
    transition: 100ms;
}

.category .container .products:hover{
    background-color: var(--black);
    
}
.category .container .products:hover h1{
    color: var(--white);
}

.category .container .products:hover img{
    -webkit-filter: invert(1);
          filter: invert(1);
}

/* 3th section */

.why-us{
    background-image: url(./images/about-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.why-us .container .about{  
    background-color: white;
    max-width: 35rem;
    padding: 2rem;

}

.why-us .container .about h1{
    color: var(--pink);
    font-weight: 400;
    font-size: 1.3rem;
}

.why-us .container .about h2{
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--black);
    margin: 0.7rem 0;
}
.why-us .container .about p{
    font-size: 1rem;
    line-height: 2;
    color: var(--light-color);
    padding: 0.7rem 0;
}
.why-us .container .about .button{
    margin-top: 1rem;
}



/* featured products */ 


.feature {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;

}


.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 1rem;
    
}

.feature .container .products .prd .image img{
    max-width: 100%;
}



.feature .container .products {
    border: 2px solid black;
    position: relative;

}

.feature .container .products .pdr-info{
    border-top: 2px solid black;
    padding: 1rem;
    text-align: left;
    cursor:grab;
}

.feature .container .products .pdr-info i{
    color: var(--light-color);
    font-size: 1rem;
}



.feature .container .products::before{
    content: "-25%";
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    background-color: var(--pink);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    font-weight: 300;
    z-index: 1;
}


.feature .container .products .prd .image {
    position: relative;
    overflow: hidden;
    cursor:grab;
}


.feature .container .products .prd .image .buy{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    right: -3rem;
    transition: 500ms;
    cursor: pointer;
    
}



.feature .container .products .prd .image .buy i{
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin-top: 0.8rem;
    transition: 400ms;

    

}


.feature .container .products .prd:hover  .buy{
    right: 1rem;
}

.feature .container .products .prd .image .buy i:hover{
    color: var(--white);
    background-color: var(--pink);
}


/* gallery section */


.our-gallery {
    background-color: var(--light-bg);
    padding-bottom: 5rem;
}


.our-gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem;
}

.our-gallery .container .gallery{
    overflow: hidden;
    border: 10px solid white;
}
.our-gallery .container .gallery img{
    object-fit: cover;
    width: 21rem;
    height: 18rem;
    transition: 400ms;
    cursor: pointer;
    display: block;
    
}

.our-gallery .container .gallery:hover img{
    transform:scale(1.1);
    -webkit-transform: scale(1.1);
}

/* our team section */



.our-team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem;
}


.our-team .container .teams .images{
    overflow: hidden;
    position: relative;
}
.our-team .container .teams .images img{
    max-width: 100%;
    display: block;
    transition: 400ms;
}

.our-team .container .teams{
    border: 2px solid black;
}

.our-team .container .teams .info{
    text-align: center;
    border-top: 2px solid black;
    padding: 1rem;
}
.our-team .container .teams .info h3 {
    color: var(--black);

}

.our-team .container .teams .info p{
    color: var(--pink);
    font-weight: 300;
}

.our-team .container .teams .images .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -4rem;
    background-color: var(--black);
    width: 4rem;
    height: 100% ;
    transition: 400ms;

}

.our-team .container .teams .images .socials i{
    color: var(--white);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--white);
    text-align: center;
    margin: 0.3rem;
    cursor: pointer;
    transition: 400ms;
}

.our-team .container .teams:hover .socials{
    left: 0;
}
.our-team .container .teams .socials i:hover{
    background-color: var(--white);
    color: var(--black);
}

.our-team .container .teams:hover .images img{
    transform: scale(1.1);
}

/* arrivals section */

.arrival .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 1rem;
}

.arrival .container .arrival-products .images{
    overflow: hidden;
}

.arrival .container .arrival-products .images img{
    max-width: 100%;
    border-radius: 15px;
    transition: 400ms;
}

.arrival .container .arrival-products:hover .images img{
    transform: scale(1.1);
}

.arrival .container .arrival-products .arrival-info{
    text-align: center;
}


/* footer section */

footer{
    background-color: var(--light-bg);
}
footer .container .top{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 2rem;
    padding-bottom: 2rem;
}

footer .container .top ul li a{
    color: var(--light-color);
}

footer .bottom{
    text-align: center;
    border-top: 2px solid var(--black);
    padding-top: 2rem;
}

footer .bottom span{
    color: var(--pink);
}

footer .container .top .links ul li{
    margin-top: 1rem;
    position: relative;
}

footer .container .top .links ul li::before{
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding-right: 1rem;
    color: var(--pink);
}

footer .container .top .links ul li a:hover{
    padding-left: 1rem;
    color: var(--pink);
}
footer .container .top .links ul li a{
    transition: 400ms;
}

footer .container .links ul li a,footer .container .links address{
    color: var(--light-color);
    font-size: 0.8rem;
}

footer .container .links address a, footer .container .links address p{
    margin: 1rem 0;
    display: block;
}

footer .container .links address .address{
    padding-right: 1rem;
    color: var(--pink);
}
footer .container .links address a{
    color: var(--light-color);
}

footer .container .links address .social{
    display: flex;
    justify-content: center;
}

footer .container .links address .social i{
    border: 1px solid black;
    color: var(--black);
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
footer .container .links address .social i:hover{
    background-color: var(--pink);
    color: var(--white);
}

footer .container .top .Newsletter p{
    margin: 1rem 0;
    color: var(--light-color);
    font-size: 1rem;
}

footer .container .top .Newsletter form input[type="email"] {
    border: 2px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}